{% extends 'base.html' %}
{% load static %}


{% block extend_head %}


{% endblock %}


{% block content %}

<h3>Аккаунт пользователя</h3>

<div class="container">

  <h4>Данные учетной записи пользователя</h4>
  <table>
    <thead>
      <tr>
        <th>Поле данных пользователя</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Имя пользователя</td>
          <td>{{request.user.username}}</td>
      </tr>
      <tr>
        <td>Имя</td>
        <td>{{request.user.first_name|title}} {{request.user.last_name|title}}</td>      
      </tr>


      {% if request.user.userprofile.has_profile %}

        <tr>
          <td>Адрес</td>
          <td>
            <address>
              {{request.user.userprofile.address}}<br>
              {{request.user.userprofile.town}}<br>
              {{request.user.userprofile.county}}<br>
              {{request.user.userprofile.post_code}}<br>
            </address>
          </td>      
        </tr>

      {% else %}
        <tr>
          <td>Профиль пользователя</td>
          <td><a href="{% url 'users:profile' %}" >Создать профиль пользователя</a></td>
        </tr>
      {% endif %}
    </tbody>
  </table>



</div>


{% endblock %}


{% block extend_footer %}

{% endblock %}